# Import Your Code Here

In [1]:
from csc665 import features, metrics

# Prepare

In [2]:
import numpy as np
import pandas as pd
from sklearn.metrics import mean_squared_error, r2_score
import unittest as ut

class Object(object): pass
class TC(ut.TestCase): pass
tc = TC()

In [3]:
csv_df = pd.read_csv("data/Melbourne_housing_FULL.csv")

In [4]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()

/Users/kalininalex/miniconda3/envs/py35_intel/lib/python3.5/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

## `preprocess_ver_1`

In [5]:
X, y = features.preprocess_ver_1(csv_df)

In [6]:
X.head().T

                      2          4          6          11         14
Suburb            0.0000     0.0000     0.0000     0.0000     0.0000
Address        3922.0000  6458.0000  6960.0000  1374.0000  8740.0000
Rooms             2.0000     3.0000     4.0000     3.0000     2.0000
Type              0.0000     0.0000     0.0000     0.0000     0.0000
Method            1.0000     3.0000     4.0000     1.0000     1.0000
SellerG          22.0000    22.0000   147.0000   147.0000   147.0000
Date             62.0000    63.0000    64.0000    69.0000    74.0000
Distance          2.5000     2.5000     2.5000     2.5000     2.5000
Postcode       3067.0000  3067.0000  3067.0000  3067.0000  3067.0000
Bedroom2          2.0000     3.0000     3.0000     4.0000     2.0000
Bathroom          1.0000     2.0000     1.0000     2.0000     1.0000
Car               0.0000     0.0000     2.0000     0.0000     2.0000
Landsize        156.0000   134.0000   120.0000   245.0000   256.0000
BuildingArea     79.0000   150.0000   142.0000   210.0000   107.0000
YearBuilt      1900.0000  1900.0000  2014.0000  1910.0000  1890.0000
CouncilArea      31.0000    31.0000    31.0000    31.0000    31.0000
Lattitude       -37.8079   -37.8093   -37.8072   -37.8024   -37.8060
Longtitude      144.9934   144.9944   144.9941   144.9993   144.9954
Regionname        2.0000     2.0000     2.0000     2.0000     2.0000
Propertycount  4019.0000  4019.0000  4019.0000  4019.0000  4019.0000

In [7]:
print(X.shape, y.shape)

assert X.shape[0] == 8887, "X.shape"
assert y.shape[0] == 8887, "y.shape"

(8887, 20) (8887,)

## `train_test_split`

In [8]:
X_train, X_test, y_train, y_test = features.train_test_split(
    X, y, test_size=0.2, shuffle=True, random_state=None)

In [9]:
print(X.shape, X_train.shape, X_test.shape, y_train.shape, y_test.shape)

tc.assertEqual(X_test.shape[0], y_test.shape[0])
tc.assertEqual(X_train.shape[0], y_train.shape[0])

(8887, 20) (7109, 20) (1778, 20) (7109,) (1778,)

In [10]:
if "DataFrame" in str(type(y_train)):
    y_train = y_train["Price"].values

if "DataFrame" in str(type(y_test)):
    y_test = y_test["Price"].values

In [11]:
rf = RandomForestRegressor(n_estimators=100 , random_state=17)
%time rf.fit(X_train, y_train)

CPU times: user 5.03 s, sys: 50.4 ms, total: 5.08 s
Wall time: 5.09 s

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_split=1e-07, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=100, n_jobs=1, oob_score=False, random_state=17,
           verbose=0, warm_start=False)

## `MSE`

In [12]:
_st = Object()
_act = Object()

_st.mse = metrics.mse(rf.predict(X_test), y_test)
_act.mse = mean_squared_error(y_test, rf.predict(X_test))

print(_st.mse, _act.mse)

tc.assertAlmostEqual(_st.mse, _act.mse, delta=1)

79240089652.32602 79240089652.32602

## $R^2$ - Test set

In [13]:
_st.r2_test = metrics.rsq(rf.predict(X_test), y_test)
_act.r2_test = r2_score(y_test, rf.predict(X_test))

print(_st.r2_test, _act.r2_test)
tc.assertAlmostEqual(_st.r2_test, _act.r2_test, places=3)
tc.assertGreater(_st.r2_test, 0.6)

0.8258027234299745 0.8258027234299745

## $R^2$ - Train set

In [14]:
_st.r2_train = metrics.rsq(rf.predict(X_train), y_train)
_act.r2_train = r2_score(y_train, rf.predict(X_train))

print(_st.r2_train, _act.r2_train)
tc.assertAlmostEqual(_st.r2_train, _act.r2_train, places=3)
tc.assertGreater(_st.r2_train, 0.6)

0.9736616371654871 0.9736616371654871